.whoami_container {
  @apply flex flex-col items-center justify-center flex-1 h-[100%] pt-10 text-white;
}
.whoami_name {
  font: Montserrat,sans-serif;
  color: rgb(193, 228, 124);
  @apply font-extrabold text-2xl;
}
.whoami_socials {
  @apply flex flex-row justify-between p-2;
  & .social_btn{
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    &:hover {
      @apply bg-gray-900;
      .socials_img {
        @apply border-grny transition-all duration-500;
      }
      .social_name {
        @apply text-saffron;
      }
    }
  }
}