.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply bg-black text-white font-heading h-16;
}
.nav_item {
    @apply m-32;
}
#name {
    @apply font-bold uppercase text-2xl text-saffron;
}
.nav_end {
    @apply flex p-5 gap-5 text-stone-300 text-base;
    & a {
        text-decoration: none;
        &:hover{
            @apply text-saffron;
        }
    }
}
