.grid_container {
  @apply pt-24 px-24;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  }

.blog {
  display:flex;
  @apply mb-96 pt-10 h-fit w-[95%];
}
.blog_post_container {
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.blog_post {
  @apply bg-slate-950 h-52 w-[100%] p-5 mb-5 rounded-xl border-2 border-stone-700 hover:shadow-sm hover:shadow-grny transition-shadow;
    display: grid;
    grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1%;
  & :hover .blog_post_heading{
    @apply text-saffron;
  }
  & img {
    @apply h-40 w-[100%];
  }
  }
.blog_post_heading {
    @apply font-heading m-5 text-base text-white;
}
.blog_post_des {
    @apply font-content_font m-5 text-sm text-stone-300;
}

.side_plugin{
  border: 2px solid white;
  @apply text-white;
}